<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_07qjej-ImdRPWT6tiiBYMxbDP4hSo3A</string>
	<key>GCM_SENDER_ID</key>
	<string>14773156811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transportkartan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>transportkartan</string>
	<key>STORAGE_BUCKET</key>
	<string>transportkartan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14773156811:ios:e5b5b180ff528d63a9d44e</string>
</dict>
</plist>